# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.First task.iml
/modules.xml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\79508\OneDrive\Документы\Unity project\First task\.idea\.idea.First task\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
